:root {
  --bg-color: #1d2021;
  --main-color: #79740e;
  --caret-color: #cc241d;
  --sub-color: #ebdbb2;
  --sub-alt-color: #282828;
  --text-color: #a89984;
  --error-color: #cc241d;
  --error-extra-color: #fabd2f;
  --colorful-error-color: #fe8019;
  --colorful-error-extra-color: #cc241d;
}
