:root {
  --bg-color: #9324c6;
  --main-color: #3a0453;
  --caret-color: #4c0e5e;
  --sub-color: #cb5bff;
  --sub-alt-color: #72307e;
  --text-color: #2e0043;
  --error-color: #6a0f6c;
  --error-extra-color: #5d446b;
  --colorful-error-color: #2f1523;
  --colorful-error-extra-color: #69005d;
}
